@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500;700&family=Montserrat:ital,wght@0,700;1,600&display=swap');

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

* {
    background-color: #090B0D;
    box-sizing: border-box;
    margin: 0;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
    height: 12vh;
    padding-bottom: 1%;
    text-align: center;
    margin-top: 5%;
}

footer p {
    font-size: 0.9rem;
}


/* Font
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    line-height: 1.75;
}

p {
    margin-bottom: 1rem;
    color: #EBE0DA;
    background: transparent;
    font-size: 1.2rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #EBE0DA;
    font-size: 6rem;
    line-height: 2;
    letter-spacing: 2px;
    background: transparent;
}

h2 {
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    color: #EBE0DA;
    font-size: 1.75rem;
    line-height: 1.5;
}


header {
    display: flex;
    height: 12vh;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 2% 8% 0 8%;
    top: 0;
    z-index: 100;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.nav_links {
    list-style: none;
    margin-left: auto;
}
  
.nav_links li {
    display: inline-block;
    padding: 0px 40px 10px;
}
  
.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #EBE0DA;
    padding-bottom: 10px;
}
  
.nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color: #C7B6AD;
    border-bottom: 1px solid #C7B6AD;
}

.link-active {
    border-bottom: 1px solid #EBE0DA;
}

li, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #EBE0DA;
    text-decoration: none;
}

/* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes loadIn {
    0% {
        transform: translateY(80px);
        opacity: 0%;
      }
    100% {
        transform: translateY(0px);
        opacity: 100%;
      }
}

.scroll {
    position: absolute;
    left: 52%;
    top: 94.5%;
    font-size: 1rem;
    opacity: 60%;

}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50.25%;
}

.icon-scroll {
  width: 30px;
  height: 50px;
  margin-left: -20px;
  top: 97%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  opacity: 50%;
  border-radius: 25px;
  background: transparent;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(25px);
  }
}
  

.reveal {
    position: relative;
    transform: translateY(120px);
    opacity: 0;
    transition: all 0.75s ease;
  }
  
.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

/* Logos
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-logo {
    height: 5vh;
}

.header-logos {
    position: relative;
    display: inline-block;
}

.header-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.header-logos:hover .header-hover {
    display: inline;
    height: 5vh;
    transition: all 0.3s ease 0s;
}



/* Index Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero {
    background: transparent;
    height: 90vh;
    animation: 2s ease-in-out 0s 1 loadIn;
}

.hero-text {
    padding: 18% 25% 10% 25%;
}

.hero-text h2 {
    margin-top: auto;
}

/* About Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.about-hero {
    background: transparent;
    height: 80vh;
    padding: 15%;
    animation: 2s ease-in-out 0s 1 loadIn;
}

.about-hero h1 {
    margin: 4% 0 0 35%;
}

.portrait {
    width: 15vw;
    position: absolute;
    box-shadow: 0px 0px 20px 0px #EBE0DA;
    border-radius: 100%;
    left: 21%;
}

.about-text {
    margin: 0 20% 5% 20%;
    animation: 2s ease-in-out 0s 1 loadIn;
}

.about-text h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

.about-text h1 {
    font-size: 3.5rem;
    line-height: 1.75;
}

.about-text h2 {
    font-size: 1.75rem;
    line-height: 3;
    letter-spacing: 2px;
}



/* Project Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.project-container {
    background: transparent;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto 3vh auto;
    z-index: 9;
    position: relative;
    padding: 5vh 0 0 0;
    max-width: 1440px;
    margin-top: 15vh;
}

.project {
    background-color: #28313A;
    box-shadow: 0px 0px 2px 0px #39444e;
    margin: 1vh 0.5vw 1vh 0.5vw;
    position: relative;
    text-align: center;
    border-radius: 20px;
    width: 48%;
    min-height: 650px;
    max-height: 750px;
    padding: 12vh 0 12vh 0;
    bottom: 0;
    cursor: pointer;
    top: 0;
    transition: top 0.1s ease;
}

.project h1 {
    font-size: 3.25rem;
    line-height: 2;
    letter-spacing: normal;
    background: transparent;
}

.project h2 {
    font-size: 1.4rem;
    background: transparent;
    letter-spacing: 1px;
}

/* Project Container Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.vpet {
    background: transparent;
    width: 15vw;
    margin: 10% 0 0 2%;
    text-align: center;
}

.meshme {
    background: transparent;
    width: 15vw;
    margin-top: 5%;
    text-align: center;
}

.kilowatt-logo {
    background: transparent;
    width: 12vw;
    margin-top: 8%;
    text-align: center;
}

.usydunder-logo {
    background: transparent;
    width: 22vw;
    margin-top: 10%;
    text-align: center;
}

.postcard-logo {
    background: transparent;
    width: 15vw;
    margin-top: 10%;
    text-align: center;
}

.littlesun {
    background: transparent;
    width: 18vw;
    margin-top: 5%;
    text-align: center;
}

.avent-logo {
    background: transparent;
    width: 15vw;
    margin: 10% 0 20% 0;
    text-align: center;
}

.booktopia-logo {
    background: transparent;
    width: 22vw;
    margin-top: 13%;
    text-align: center;
}

/* Project Hovers
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.one:hover {
    background-color: #89eb48;
    box-shadow: 0px 0px 30px 0px #89eb48;
    top: -10px;
}

.one:hover > h1 {
    color: #090B0D;
}
  
.one:hover > h2 {
    color: #090B0D;
}

.two:hover {
    background-color: #d8c4cf;
    box-shadow: 0px 0px 30px 0px #d8c4cf;
    top: -10px;
}

.two:hover > h1 {
    color: #090B0D;
}
  
.two:hover > h2 {
    color: #090B0D;
}

.three:hover {
    background-color: #ffec00;
    box-shadow: 0px 0px 30px 0px #ffec00;
    top: -10px;
}

.three:hover > h1 {
    color: #090B0D;
}
  
.three:hover > h2 {
    color: #090B0D;
}

.four:hover {
    background-color: #b1eee8;
    box-shadow: 0px 0px 30px 0px #b1eee8;
    top: -10px;
}

.four:hover > h1 {
    color: #090B0D;
}
  
.four:hover > h2 {
    color: #090B0D;
}

.five:hover {
    background-color: #c99f9f;
    box-shadow: 0px 0px 30px 0px #c99f9f;
    top: -10px;
}

.five:hover > h1 {
    color: #090B0D;
}
  
.five:hover > h2 {
    color: #090B0D;
}

.six:hover {
    background-color: #263f5e;
    box-shadow: 0px 0px 30px 0px #263f5e;
    top: -10px;
}

.six:hover > h1 {
    color: #D6CCCB;
}
  
.six:hover > h2 {
    color: #D6CCCB;
}

.seven:hover {
    background-color: #e6dfcf;
    box-shadow: 0px 0px 30px 0px #e6dfcf;
    top: -10px;
}

.seven:hover > h1 {
    color: #011829;
}
  
.seven:hover > h2 {
    color: #011829;
}

.eight:hover {
    background-color: #1D802C;
    box-shadow: 0px 0px 30px 0px #1D802C;
    top: -10px;
}

.eight:hover > h1 {
    color: #D6CCCB;
}
  
.eight:hover > h2 {
    color: #D6CCCB;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section {
    width: 100%;
    min-height: 50vh;
    margin-bottom: 2%;
} 

section:nth-child(even) {
    background: transparent;
    padding: 5% 20% 5% 20%;
}

section:nth-child(even) .second-p {
    margin-top: 4%;
}

section:nth-child(even) .second-h2 {
    margin-top: 10%;
    line-height: 2.5;
}

section:nth-child(even) h1, h2 {
    background: transparent;
    line-height: 2.5;
}

section:nth-child(even) li {
    list-style-position: outside;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    line-height: 1.75;
    font-size: 1.2rem;
    margin: 2% 0 1% 0;
    padding-left: 2%;
}

section:nth-child(even) strong {
    background: transparent;
}

section:nth-child(odd) {
    background: #0D1115;
    padding: 5% 20% 5% 20%;
}

section:nth-child(odd) .second-p {
    margin-top: 4%;
}

section:nth-child(odd) .second-h2 {
    margin-top: 10%;
    line-height: 2.5;
}

section:nth-child(odd) a {
    background: transparent;
}

section:nth-child(odd) ul {
    background: transparent;
}

section:nth-child(odd) li {
    list-style-position: outside;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    line-height: 1.75;
    font-size: 1.2rem;
    margin: 2% 0 1% 0;
    background: transparent;
}

section:nth-child(odd) button {
    border: none;
    border-radius: 20px;
    color: #EBE0DA;
    background: #28313A;
    box-shadow: 0px 0px 2px 0px #39444e;
    margin: 0% 0 0 40%;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 1.2rem;
    padding: 2% 4% 2% 4%;
}

section:nth-child(odd) button:hover {
    border-color: #39444e;
    color: #090B0D;
    background: #EBE0DA;
    cursor: pointer;
}

section:nth-child(odd) strong {
    background: transparent;
}

.documents-container {
    width: 100%;
    padding-top: 10%;
}

.links {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    line-height: 1.75;
    font-size: 1.2rem;
}

.social-container {
    background: transparent;
    text-align: center;
    margin-top: 8%;
}

/* Fa Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.fa {
    background: transparent;
}

.back {
    text-align: center;
    background: transparent;
    position: absolute;
    font-size: 3.5rem;
    top: 12%;
    left: 1.5%;
    cursor: pointer;
    color:#EBE0DA;
}

.back:hover {
    color: #C7B6AD;
}

.fa-envelope {
    background: transparent;
    color: #39444e;
    margin-left: 5%;
}

.fa-envelope:hover {
    color: #EBE0DA;
    background: transparent;
    cursor: pointer;   
}

.fa-linkedin-square {
    background: transparent;
    color: #39444e;
    margin-left: 5%;
}

.fa-linkedin-square:hover {
    color: #EBE0DA;
    background: transparent;
    cursor: pointer;   
}

/* Project Overview
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.project-overview {
    display: grid;
    padding: 0% 0% 5% 0%;
    background: transparent;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10% 20%;
    margin: 10% 0 10% 0;
    grid-auto-flow: row;
    grid-template-areas:
      "project-class project-team"
      "project-role project-tools";
}

  
.project-class { 
    grid-area: project-class;
    background: transparent; 
}

.project-team { 
    grid-area: project-team;
    background: transparent;  
}

.project-team ul {
    list-style-type: none;
    padding: 0;
    background: transparent;
}

.project-role { 
    grid-area: project-role;
    background: transparent;  
}

.project-role ul {
    list-style-type: none;
    padding: 0;
    background: transparent;
}

.project-tools { 
    grid-area: project-tools;
    background: transparent;  
}

.project-tools ul {
    list-style-type: none;
    padding: 0;
    background: transparent;
}
  
iframe {
    display: block;
    margin: 0 auto;
    margin-top: 15%;
}

.affinity {
    width: 960px;
    height: 500px;
    margin-top: 5%;
}

/* VPET
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.vpet-hero {
    background: #5F9B38;
    height: 100vh;
    padding: 12% 35% 5% 35%;
}

.vpet-feature {
    background: transparent;
    width: 30vw;
    margin-bottom: 8%;
}

.wireframe {
    background: transparent;
    width: 30vw;
}

.process {
    width: 50vw;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    background: transparent;
}

.criteria {
    display: grid;
    margin-top: 8%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2% 0%;
    grid-auto-flow: row;
    grid-template-areas:
      "icon1 icon2 icon3"
      "icon1-bio icon2-bio icon3-bio"
      "icon4 icon5 icon6"
      "icon4-bio icon5-bio icon6-bio";
    background: transparent;
}

.criteria-icon {
    width: 10vw;
    background: transparent;
}

.criteria-icon2 {
    width: 6vw;
    background: transparent;
}

.icon1 { 
    grid-area: icon1; 
    background: transparent;
    padding: 0;
    margin: 0 auto; 
}

.icon2 { 
    grid-area: icon2; 
    background: transparent; 
    padding: 0;
    margin: 0 auto; 
}

.icon3 { 
    grid-area: icon3; 
    background: transparent; 
    padding: 0;
    margin: 0 auto; 
}

.icon1-bio { grid-area: icon1-bio; text-align: center; background: transparent; }

.icon2-bio { grid-area: icon2-bio; text-align: center; background: transparent; }

.icon3-bio { grid-area: icon3-bio; text-align: center; background: transparent; }

.icon4 { 
    grid-area: icon4; 
    background: transparent; 
    padding: 0;
    margin: 0 auto; 
}

.icon5 { 
    grid-area: icon5; 
    background: transparent; 
    padding: 0;
    margin: 0 auto; 
}

.icon6 { 
    grid-area: icon6; 
    background: transparent; 
    padding: 0;
    margin: 0 auto; 
}

.icon4-bio { grid-area: icon4-bio; text-align: center; background: transparent; }

.icon5-bio { grid-area: icon5-bio; text-align: center; background: transparent; }

.icon6-bio { grid-area: icon6-bio; text-align: center; background: transparent; }

.concept {
    width: 50vw;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.document-img {
    display: block;
    margin: 0 auto;
    width: 60%;
}

/* MeshMe
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.meshme-hero {
    background: #d8c4cf;
    height: 100vh;
    padding: 15% 35% 5% 35%;
}
 
.meshme-feature {
    width: 15vw;
    background: transparent;
    display: block;
    margin: 0 auto;
}

.meshme-title {
    font-size: 4rem;
    text-align: center;
    color: #090B0D;
}

.img-container {
    background: transparent;
    display: flex;
    margin: 0 auto;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.two-imgs {
    width: 50%;
    padding: 0.5%;
    background: transparent;
    margin: 0 auto;
}

.visualisation {
    width: 60vw;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

/* Kilowatt
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.kilowatt-hero {
    background: #5F75A1;
    height: 100vh;
    padding: 15% 35% 5% 35%;
}

/* USYD Underwater
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.usydunder-hero {
    background: #064273;
    height: 100vh;
    padding: 15% 35% 5% 35%;
}

.usyd-feature {
    background: transparent;
    width: 30vw;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
}

/* Postcard
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.postcard-hero {
    background: #C99F9F;
    height: 100vh;
    padding: 15% 35% 5% 35%;
}

.postcard-feature {
    background: transparent;
    display: block;
    margin: 0 auto;
    width: 20vw;
}

/* Little Sun
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.littlesun-hero {
    background: #263F5E;
    height: 100vh;
    padding: 15% 35% 5% 35%;
}

.littlesun-title {
    font-size: 2.5rem;
    text-align: center;
    color: #EBE0DA;
}

/* Avent Sun
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.avent-hero {
    background: #E6DFCF;
    height: 100vh;
    padding: 15% 35% 5% 35%;
}

.avent-feature {
    background: transparent;
    display: block;
    margin: 0 auto;
    width: 20vw;
    margin-top: 25%;
}

/* Booktopia Sun
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.booktopia-hero {
    background: #1D802C;
    height: 100vh;
    padding: 15% 35% 5% 35%;
}

.booktopia-feature {
    background: transparent;
    display: block;
    margin: 0 auto;
    width: 30vw;
    margin-top: 25%;
}

.booktopia-title {
    font-size: 2.5rem;
    text-align: center;
    color: #EBE0DA;
}


/* RESPONSIVENESS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:1800px) {
    h1 {
        font-size: 4.75rem;
        letter-spacing: 1.5px;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    .hero-text {
        padding: 22% 25% 10% 25%;
    }
}

@media (max-width:980px) {
    h1 {
        font-size: 2.25rem;
        line-height: 4.25rem;
        margin-bottom: 2%;
    }
    
    h2 {
        font-size: 1.25rem;
        line-height: 2.75rem;
    }

    .header-logos {
        display: none;
    }

    .header {
        width: 100%;
    }

    .nav_links {
        width: 100vw;
        display: block;
    }

    .nav_links li {
        padding: 0px 20px 0px 0px;
    }

    .hero {
        height: 100vh;
    }

    .hero-text {
        padding: 65% 7% 10% 7%;
    }

    .project {
        width: 95%;
    }

    .vpet {
        width: 60vw;
    }

    .meshme {
        width: 60vw;
    }

    .kilowatt-logo {
        width: 50vw;
        margin-top: 20%;
    }

    .usydunder-logo {
        width: 65vw;
        margin-top: 15%;
    }

    .postcard-logo {
        width: 50vw;
        margin-top: 20%;
    }

    .littlesun {
        width: 55vw;
        margin-top: 20%;
    }

    .avent-logo {
        width: 55vw;
        margin-top: 20%;
    }

    .booktopia-logo {
        width: 65vw;
        margin-top: 15%;
    }

    .about-hero {
        padding: 15% 5% 0 5%;
        display: flex;
    }
    
    .about-hero h1 {
        margin: 100% 0 0 20%;
    }
    
    .portrait {
        width: 50vw;
        position: absolute;
        box-shadow: 0px 0px 20px 0px #EBE0DA;
        border-radius: 100%;
        margin: 30% 0 0 5%;
    }
    
    .about-text {
        margin: 0 10% 15% 10%;
        
    }
    
    .about-text h1 {
        font-size: 2rem;
        line-height: 1.6;
    }
    
    .about-text h2 {
        font-size: 1.75rem;
        line-height: 1.25;
        margin-bottom: 5%;
        letter-spacing: 2px;
    }
    
    section:nth-child(even) {
        background: transparent;
        padding: 5% 10% 5% 10%;
    }

    section:nth-child(odd) {
        background: transparent;
        padding: 5% 10% 5% 10%;
    }

    section:nth-child(odd) .second-h2 {
        margin-top: 15%;
    }

    .scroll {
        left: 56%;
    }

    iframe {
        width: 100%;
        height: 30vh;
    }
    
    .usydunder-hero {
        width: 100%;
    }

    .concept {
        width: 100%;
        height: 25vh;
    }

    .affinity {
        width: 100%;
    }

    .process {
        width: 100%;
    }

    .vpet-hero {
        padding: 60% 11% 5% 11%;
    }
    
    .vpet-feature {
        width: 80vw;
        display: block;
        margin: 0 auto;
    }

    .meshme-hero {
        padding: 60% 11% 5% 11%;
    }
    
    .meshme-feature {
        width: 50vw;
        display: block;
        margin: 0 auto;
    }

    .meshme-title {
        font-size: 2.5rem;
    }

    .kilowatt-hero {
        padding: 60% 11% 5% 11%;
    }
    
    .vpet-feature {
        width: 80vw;
        display: block;
        margin: 0 auto;
    }

    .usydunder-hero {
        padding: 60% 11% 5% 11%;
    }
    
    .usyd-feature {
        width: 80vw;
        display: block;
        margin: 0 auto;
    }

    .wireframe {
        width: 80vw;
        display: block;
        margin: 0 auto;
        margin-top: 20%;
    }

    .postcard-hero {
        padding: 60% 11% 5% 11%;
    }

    .postcard-feature {
        width: 40vw;
        display: block;
        margin: 0 auto;
    }

    .littlesun-hero {
        padding: 60% 11% 5% 11%;
    }

    .littlesun-title {
        font-size: 2rem;
        line-height: 1.5;
        margin-top: 5%;
    }

    .avent-hero {
        padding: 60% 11% 5% 11%;
    }

    .avent-feature {
        width: 50vw;
    }

    .visualisation {
        width: 100%;
    }
}
