@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Karla&display=swap');

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

 /* Font
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
  }
  
p {
    margin-bottom: 1rem;
    color: #D6CCCB;
    background: transparent;
    font-size: 1.1rem;
}

em {
    color: #D6CCCB;
    background: transparent;
}
  
h1, h2, h3 {
    margin: 2rem 0 1.38rem;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    color: #D6CCCB;
    background: transparent;
}
  
  
h1 {font-size: 2.369rem;}

h2 {font-size: 1.777rem;}

h3 {font-size: 1.4rem;}

small, .text_small {font-size: 0.75rem;}

* {
    background-color: #011829;
    box-sizing: border-box;
    margin: 0;
}

li, a {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #6498b7;
    text-decoration: none;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 10px 10%;
    padding-top: 20px;
    top: 0;
    z-index: 100;
    background-color: #011829;
    border-bottom: 1px solid #72caff;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
    background-color: #011829;
    height: 15vh;
    padding-bottom: 1%;
}
  
.footer_info p {
    font-family: "Karla", san-serif;
    margin: 1%;
    color: #6498b7;
    text-align: center;
    font-size: 0.9em;
    padding-bottom: 1%;
    line-height: 0.5%;
}

.footer_socials a:hover {
    transition: all 0.3s ease 0s;
    color: #72caff;
}

.footer_socials a {
    font-family: "Karla", san-serif;
    margin: 1%;
    color: #6498b7;
    text-align: center;
    font-size: 1em;
    padding-bottom: 1%;
    line-height: 0.5%;
}
  
.footer_socials {
    font-family: "Karla", san-serif;
    margin-top: 1%;
    margin-bottom: 2%;
    color: #D6CCCB;
    text-align: center;
    font-size: 1em;
    word-spacing: 5px;
}


/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.nav_links {
    list-style: none;
    margin-left: auto;
}
  
.nav_links li {
    display: inline-block;
    padding: 0px 20px 10px;
}
  
.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #6498b7;
}
  
.nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color: #72caff;
}

/* Logos
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-logos {
    position: relative;
    display: inline-block;
}

.header-logo {
    height: 4vh;
    margin-top: -0.5%;
}

.header-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.header-logos:hover .header-hover {
    display: inline;
    height: 4vh;
    margin-left: auto;
    margin-top: -0.5%;
    transition: all 0.3s ease 0s;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero {
    background-color: #011829;
    position: relative;
    height: 100%;
}

.hero-bg {
    width: 100%;
    height: 100vh;
    background: transparent;
}


.hero-bg img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    text-align: center;
}

.hero-bg video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.side-hero-text {
    text-align: center;
    top: 40%;
    left: 22%;
    right: 22%;
    background: transparent;
    animation: transitionIn 3s ease;
    position: absolute;
}

.hero-text {
    top: 30%;
    right: 20%;
    bottom: 20%;
    left: 20%;
    text-align: center;
    background: transparent;
    animation: transitionIn 3s ease;
    position: absolute;
}

.hero-text em {
    color: #D6CCCB;
    font-size: 1em;
}

.hero-text h1 {
    margin-top: 10vh;
    background: transparent;
}

.hero-em {
    size: 1em;
}

.arrow {
    text-align: center;
    color: white;
    position: absolute;
    font-size: 3em;
    top: 95%;
    left: 50%;
    cursor: pointer;
    background: transparent;
}

.back {
    text-align: center;
    background: transparent;
    position: absolute;
    font-size: 4em;
    top: 8%;
    left: 1%;
    cursor: pointer;
}

.fa fa-angle-left {
    color:#011829;
}

.back:hover {
    transition: all 0.1s ease 0s;
    color: #72caff;
}

/* About 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about-hero {
    margin-bottom: 5%;
}


.about-hero-bg {
    width: 100%;
    background: transparent;
    overflow: hidden;
}

.about-hero-text {
    text-align: left;
    background: #011829;
    height: 30%;
    top: 60%;
    right: 20%;
    left: 50%;
    padding: 0 10% 0 3%;
    border-radius: 5px;
    position: absolute;
}

.about-hero-text h2 {
    color: #D6CCCB;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.about-hero-text em {
    color: #D6CCCB;
    font-size: 1.6rem;
}

.portrait {
    width: 30vw;
    position: absolute;
    top: 25%;
    left: 25%;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px #A5968C;
}

.about-info {
    color: #D6CCCB;
    margin: 50% 10% 2% 15%;
    padding: 8% 10% 0 10%;
}

.about-info h3 {
    color: #D6CCCB;
    margin-top: 5%;
}

.about-paragraph {
    margin-top: 5%;
}

.about-info li {
    list-style-type: disc;
    color: #D6CCCB;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    background: transparent;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
}

.about-paragraph strong {
    color: #6498b7;
}

.about-paragraph strong:hover {
    transition: all 0.3s ease 0s;
    color: #72caff;
}

.about-email {
    margin-top: 5%;
    margin-left: 25%;
    color: #6498b7;
    
}

.about-email strong {
    color: #6498b7;
    font-size: 1.4rem;
}

.about-email strong:hover {
    transition: all 0.3s ease 0s;
    color: #72caff;
}

/* Project Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.project-hero {
    height: 100vh;
}

.vpet-hero-bg {
    width: 100%;
    height: 100vh;
    background: #5f9b38;
    overflow: hidden;
}

.kilowatt-hero-bg {
    width: 100%;
    height: 100vh;
    background: #5f75a1;
    overflow: hidden;
}

.meshme-hero-bg {
    width: 100%;
    height: 100vh;
    background: #b093ab;
    overflow: hidden;
}

.cure-hero-bg {
    width: 100%;
    height: 100vh;
    background: #324266;
    overflow: hidden;
}

.usyd-hero-bg {
    width: 100%;
    height: 100vh;
    background: #064273;
    overflow: hidden;
}

.postcard-hero-bg {
    width: 100%;
    height: 100vh;
    background: #c99f9f;
    overflow: hidden;
}

.littlesun-hero-bg {
    width: 100%;
    height: 100vh;
    background: #263f5e;
    overflow: hidden;
}

.avent-hero-bg {
    width: 100%;
    height: 100vh;
    background: #e6dfcf;
    overflow: hidden;
}

.project-feature {
    width: 35vw;
    background: transparent;
}

.vpet-feature {
    width: 30vw;
    background: transparent;
}

.meshme-feature {
    width: 15vw;
    background: transparent;
}

.cure-feature {
    width: 50vw;
    background: transparent;
}

.usyd-feature {
    background: transparent;
    width: 30vw;
    margin-top: 10vh;
}

.postcard-feature {
    background: transparent;
    width: 20vw;
}

.avent-feature {
    background: transparent;
    width: 20vw;
    margin-top: 15vh;
}

.wireframe {
    background: transparent;
    margin-top: 5%;
    width: 45vw;
    float: none;
}

.wireframe2 {
    background: transparent;
    margin-top: 10%;
    width: 45vw;
    float: none;
}

.project-hero-text {
    text-align: center;
    padding: 12% 15% 0 15%;
    background: transparent;
    height: 100vh;
}

.project-hero-text h3 {
    color: #D6CCCB;
}

.avent-hero-text {
    text-align: center;
    padding: 15% 15% 0 15%;
    background: transparent;
    height: 100vh;
    color: #011829;
}


/* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.bounce {
  animation: bounce 2.5s infinite;
  color: white;
}

.fa {
  background: transparent;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    background: transparent;
  }
  40% {
    transform: translateY(-30px);
    background: transparent;
  }
  60% {
    transform: translateY(-15px);
    background: transparent;
  }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.reveal {
    position: relative;
    transform: translateY(120px);
    opacity: 0;
    transition: all 1s ease;
  }
  
.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

/* Project Overview
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.project-overview {
    display: grid;
    grid-template-columns: 25% 25% 12.5% 12.5% 12.5% 12.5%; 
    grid-template-rows: 50% 50%; 
    grid-auto-rows: 2fr;
    gap: 0px 0px;
    height: 50vh;
    margin: 10% 8% 5% 15%;
    grid-auto-flow: row;
    grid-template-areas:
      "project-brief project-brief project-duration project-duration project-team project-team"
      "project-brief project-brief project-role project-role project-tools project-tools";
}

.project-overview p {
    font-size: 1rem;
}
  
.project-brief { 
    grid-area: project-brief;
    margin-right: 10%; 
}

.project-brief h3 {
    color: #D6CCCB;
}

.project-role { 
    grid-area: project-role; 
    margin-right: 15%; 
}

.project-role h3 {
    color: #D6CCCB;
}

.project-role li {
    list-style: none;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #D6CCCB;
    background: transparent;
    margin-bottom: 1%;
    font-size: 1rem;
}

.project-duration { 
    grid-area: project-duration; 
    margin-right: 15%; 
}

.project-duration h3 {
    color: #D6CCCB;
}

.project-team { 
    grid-area: project-team; 
    margin-right: 15%; 
}

.project-team h3 {
    color: #D6CCCB;
}

.project-team li {
    list-style: none;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #D6CCCB;
    background: transparent;
    font-size: 1rem;
}

.project-team h3 {
    color: #D6CCCB;
}

.project-tools { 
    grid-area: project-tools; 
    margin-right: 15%; 
}

.project-tools h3 {
    color: #D6CCCB;
}

.project-tools li {
    list-style: none;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #D6CCCB;
    background: transparent;
    font-size: 1rem;
}
  
  
/* Feature 
–––––––––––––––––––––––––––––––––––––––––––––––––– */ 
section {
    width: 100%;
    min-height: 75vh;
    padding: 5% 10% 5% 10%;
    margin-bottom: 2%;
} 

.feature {
    width: 100%;
    background: transparent;
}

section:nth-child(odd) li {
    list-style-type: disc;
    color: #D6CCCB;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
}

section:nth-child(odd) button {
    border: none;
    color: #011829;
    background: #6498b7;
    padding: 2% 3%;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    cursor: pointer;
    margin: 5% 0 0 12%;
}

section:nth-child(odd) button:hover {
    border: 1px solid;
    border-color: #6498b7;
    color: #6498b7;
    background: #011829;
}

section:nth-child(even) li {
    list-style-type: disc;
    color: #011829;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    background: transparent;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
}

section:nth-child(even) button {
    border: none;
    color: #D6CCCB;
    background: #011829;
    padding: 2% 3%;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    cursor: pointer;
    margin: 5% 0 0 12%;
}

section:nth-child(even) button:hover {
    border: 2px solid;
    border-color: #011829;
    color: #011829;
    background: #6498b7;
}

.feature iframe {
    width: 100%;
    height: 70vh;
    margin: 5% 1% 5% 1%;
    text-align: center;
}

.feature-poster {
    width: 75vw;
    margin: 4%;
}

.kilowatt-poster {
    text-align: center;
    width: 38vw;
    margin: 1%;
}

section:nth-child(even) {
    background: #6498b7;
}

section:nth-child(even) h2, h3 {
    color: #011829;
    margin-top: 1rem;
}

section:nth-child(even) .heading2 {
    color: #011829;
    margin-top: 8%;
}

section:nth-child(even) h1 {
    color: #011829;
    margin-top: 5%;
}

section:nth-child(even) .paragraph {
    color: #011829;
    margin-top: 5%;
}

section:nth-child(even) p {
    color: #011829;
}

section:nth-child(even) u, em, a {
    color: #011829;
    background: transparent;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    background: transparent;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
}

section:nth-child(odd) u, em, a {
    color: #D6CCCB;
    background: transparent;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    background: transparent;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
}

section:nth-child(odd) {
    background: #011829;
}

section:nth-child(odd) h3 {
    color: #D6CCCB;
}

section:nth-child(odd) .paragraph {
    background: #011829;
    margin-top: 5%;
}

.feature-logo {
    background: transparent;
    width: 40%;
    margin-left: -1%;
}

.feature-text {
    width: 50%;
    background: transparent;
}

.heading2 {
    margin-top: 8%;
}

.wireframe-feature {
    float: right;
    margin-top: -22%;
    margin-right: -5%;
    width: 50%;
    background: transparent;
    cursor: pointer;
}

.criteria {
    display: grid;
    margin: 5% 0 0 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "icon1 icon2 icon3"
      "icon-bio1 icon-bio2 icon-bio3"
      "icon4 icon5 icon6"
      "icon-bio4 icon-bio5 icon-bio6";
}

.icon1 { grid-area: icon1; background: transparent; text-align: center; }

.icon2 { grid-area: icon2; background: transparent; margin-left: 33%; }

.icon3 { grid-area: icon3; background: transparent; margin-left: 25%; }

.icon4 { grid-area: icon4; background: transparent; text-align: center;}

.icon5 { grid-area: icon5; background: transparent; text-align: center;}

.icon6 { grid-area: icon6; background: transparent; text-align: center;}

.icon-bio1 { grid-area: icon-bio1; background: transparent; text-align: center;}

.icon-bio1 h3 {margin-top: 10%;}

.icon-bio2 { grid-area: icon-bio2; background: transparent; text-align: center;}

.icon-bio2 h3 {margin-top: 10%;}

.icon-bio3 { grid-area: icon-bio3; background: transparent; text-align: center;}

.icon-bio3 h3 {margin-top: 10%;}

.icon-bio4 { grid-area: icon-bio4; background: transparent; text-align: center;}

.icon-bio4 h3 {margin-top: 10%;}

.icon-bio5 { grid-area: icon-bio5; background: transparent; text-align: center;}

.icon-bio5 h3 {margin-top: 10%;}

.icon-bio6 { grid-area: icon-bio6; background: transparent; text-align: center;}

.icon-bio6 h3 {margin-top: 10%;}

.icon {
    width: 10vw;
}

.icon2 {
    width: 5vw;
}

.icon3 {
    width: 8vw;
}

.concept-img {
    width: 60vw;
    margin: 5% 10% 5% 10%;
}

.process {
    width: 70vw;
    background: transparent;
    margin: 5%;
}

.project-functionality {
    width: 80vw;
    background: transparent;
}

.project-functionality2 {
    width: 50vw;
    background: transparent;
    margin: 2% 15% 2% 15%;
}


/* Project 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.project-bg {
    background-color: #6498b7;
    position: relative;
    margin-bottom: 2%;
}

.project-container {
    background-color: #6498b7;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto 3vh auto;
    z-index: 9;
    position: relative;
    padding: 3vh 0 0 0;
    max-width: 1440px;
}

.project p, h2 {
    background: transparent;
}

.project p {
    margin-top: 5%;
    font-size: 1.2em;
}

.project h2 {
    margin-top: 5%;
    font-size: 1.9em;
    font-weight: 700;
}

.project {
    background-color: #011829;
    box-shadow: 0px 0px 30px 0px #6498b7;
    width: 32%;
    min-height: 32%;
    margin: 1vh 0.5vw 1vh 0.5vw;
    position: relative;
    text-align: center;
    border-radius: 20px;
    min-width: 450px;
    min-height: 500px;
    padding: 12vh 0 12vh 0;
    bottom: 0;
    cursor: pointer;
    top: 0;
    transition: top 0.1s ease;
}

.one:hover {
    background-color: #89eb48;
    box-shadow: 0px 0px 30px 0px #89eb48;
    top: -10px;
}

.one:hover > h2 {
    color: black;
}
  
.one:hover > p {
    color: black;
}

.vpet {
    margin-top: 5%;
    width:12vw;
    background: transparent;
}

.two:hover {
    background-color: #d8c4cf;
    box-shadow: 0px 0px 30px 0px #d8c4cf;
    top: -10px;
}

.two:hover > h2 {
    color: black;
}
  
.two:hover > p {
    color: black;
}

.meshme {
    width:10.75vw;
    background: transparent;
}

.three:hover {
    background-color: #ffec00;
    box-shadow: 0px 0px 30px 0px #ffec00;
    top: -10px;
}

.three:hover > h2 {
    color: black;
}
  
.three:hover > p {
    color: black;
}

.kilowatt_logo {
    margin-top: 6%;
    width:12vw;
    background: transparent;
}

.four:hover {
    background-color: #ffec00;
    box-shadow: 0px 0px 30px 0px #ffec00;
    top: -10px;
}

.four:hover > h2 {
    color: black;
}
  
.four:hover > p {
    color: black;
}

.cureproject_logo {
    margin-left: 2%;
    width: 14vw;
    background: transparent;
}

.five:hover {
    background-color: #b1eee8;
    box-shadow: 0px 0px 30px 0px #b1eee8;
    top: -10px;
}

.five:hover > h2 {
    color: black;
}
  
.five:hover > p {
    color: black;
}

.usydunder_logo {
    text-align: center;
    width: 18vw;
    margin: 8%;
    background: transparent;
}

.six:hover {
    background-color: #c99f9f;
    box-shadow: 0px 0px 30px 0px #c99f9f;
    top: -10px;
}

.six:hover > h2 {
    color: #011829;
}
  
.six:hover > p {
    color: #011829;
}

.postcard {
    width: 12vw;
    background: transparent;
    margin: 10% 0 5% 5%;
}

.seven:hover {
    background-color: #263f5e;
    box-shadow: 0px 0px 30px 0px #263f5e;
    top: -10px;
}

.seven:hover > h2 {
    color: #D6CCCB;
}
  
.seven:hover > p {
    color: #D6CCCB;
}

.littlesun {
    width: 15vw;
    background: transparent;
    margin: 5% 0 8% 3%;
}

.eight:hover {
    background-color: #e6dfcf;
    box-shadow: 0px 0px 30px 0px #e6dfcf;
    top: -10px;
}

.eight:hover > h2 {
    color: #011829;
}
  
.eight:hover > p {
    color: #011829;
}

.avent-logo {
    background: transparent;
    width: 15vw;
    margin: 7% 0 8% 3%;
}

/* Document 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.document-img {
    width: 60vw;
    margin: 0 12% 0 12%;
}

@media only screen and (max-width: 768px) {
    
    .hero-text {
        top: 20%;
        left: 10%;
        right: 10%;
    }

    .side-hero-text {
        top: 40%;
        left: 5%;
        right: 5%;
    }

    .feature {
        padding: 0;
    }

    .feature-text {
        width: 100%;
        
    }

    .feature-logo {
        width: 65vw;
    }

    .wireframe-feature {
        display: none;
    }

    section:nth-child(even) button {
        color: #D6CCCB;
        background: #011829;
        padding: 2% 3%;
        border-radius: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.1em;
        cursor: pointer;
        margin-left: 30%;
        margin-top: 15%;
    }

    section:nth-child(even) button:hover {
        border: 2px solid;
        border-color: #011829;
        color: #011829;
        background: #6498b7;
    }

    section:nth-child(odd) button {
        color: #011829;
        background: #6498b7;
        padding: 2% 3%;
        border-radius: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.1em;
        cursor: pointer;
        margin-left: 30%;
        margin-top: 15%;

    }

    section:nth-child(odd) button:hover {
        border: 2px solid;
        border-color: #6498b7;
        color: #6498b7;
        background: #011829;
    }

    .footer_info p {
        line-height: 1.5em;
    }

    .project {
        min-width: 80%;
        min-height: 70vh;
    }

    .vpet {
        width: 40vw;
    }

    .meshme {
        width: 40vw;
    }

    .kilowatt_logo {
        width: 40vw;
    }

    .cureproject_logo {
        width: 50vw;
    }
    
    .usydunder_logo {
        width: 50vw;
        margin-top: 10;
    }

    .postcard {
        width: 30vw;
    }

    .littlesun {
        width: 40vw;
    }

    .avent-logo {
        width: 50vw;
    }

    .project-brief {
        display: none;
    }
}
